.admin-mine h1{
	padding: 30px 0;
	color: #d33b33;
}
.admin-mine .user_block {
	min-height: 200px;
}
.user_block > div {
    margin-bottom: 30px;
}
.user_block-item {
	padding: 20px 10px;
	box-shadow: 0 0 29px #cfcfcf;
	height: 100%;
}
.user_block-item .name {
	font-size: 26px;
}
.admin-mine .user-title {
	margin-bottom: 30px;
}
.admin-mine .user_block {
	margin-bottom: 40px;
}
.admin-mine .product_block-item {
	margin-bottom: 60px;
}
.admin-mine .product-image {
	max-height: 400px;
	overflow: hidden;
	position: relative;
}
.admin-mine .product-image img {
	max-width: 100%;
	width: 100%;
}
.admin-mine .product-image .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 1;
	color: white;
	background-color: #d33b33;
	border: 0;
	padding: 6px;
	width: 80px;
}
.admin-mine .product-image .slick-prev {
	 left: 0;
 }
.admin-mine .product-image .slick-next {
	right: 0;
}
.admin-mine .product-info {
	padding-left: 5%;
}
.admin-mine .product-info button, .base-btn {
	color: white;
	background-color: #d33b33;
}
