
/** main css **/
.regist_form .error{
  position: absolute;
  bottom: -18px;
  color: red;
  left: 0;
}
.regist_form .form-group,.regist_form .form_wrpper {
  position: relative;
}
.add-to-btn .cb {
  clear: both;
}
.single-product-details .custom-bar {
	margin-top: 30px;
}
.single-product-details .custom-bar  button {
	color: white;
	background: #d33b33;
	font-size: 20px;
}
.image_block img {
    max-width: 100%;
}
.upload-img_block .upload-img {
    width: 100%;
    height: 34px;
    color: white;
    background: #d33b33;
    margin-bottom: 30px;
}
.upload-img_block input {
    z-index: 1;
    width: 100%;
    opacity: 0;
}
.upload-img_block .delete-product-img .fa-times {
    color: white;
}
.upload-img_block .delete-product-img {
    padding: 0 6px;
    background-color: #d33b33;
    position: absolute;
    right: 0;
    top: 0;
}
.add-product_main {
    padding-top: 50px;
    padding-bottom: 50px;
}
#add-product_form input[type='file'] {
    margin-bottom: 30px;
}
#add-product_form .add-product {
    color: white;
    background-color: #d33b33;
    margin-top: 30px;
}
